.btn {
  padding: var(--space-sm) var(--space-md);
  border: none;
  border-radius: var(--radius-md);
  font-size: var(--font-sm);
  cursor: pointer;
  transition: var(--transition-normal);
}

.primary {
  background-color: var(--primary-color);
  color: var(--text-white);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--text-white);
}

.secondary:hover {
  background-color: var(--secondary-hover);
}

.danger {
  background-color: var(--danger-color);
  color: var(--text-white);;
}

.danger:hover {
  background-color: var(--danger-hover);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}