.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary {
  background-color: var(--primary-color);
  color: var(--text-white);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--text-white);
}

.secondary:hover {
  background-color: var(--secondary-hover);
}

.danger {
  background-color: var(--danger-color);
  color: var(--text-white);;
}

.danger:hover {
  background-color: var(--danger-hover);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}